<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kingja.yaluji">
    <!--JPush Required -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="com.kingja.yaluji.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--登录-->
        <activity
            android:name=".page.login.LoginActivity"/>
        <!--注册-->
        <activity
            android:name=".page.register.RegisterActivity"/>
        <!--找回密码-->
        <activity android:name=".page.forgetpassword.ForgetPasswordActivity"/>
        <activity android:name=".page.headimg.PersonalActivity"/>
        <activity android:name=".page.modifynickname.ModifyNicknameActivity"/>
        <activity android:name=".activity.ContactUsActivity"/>
        <activity android:name=".page.modifypassword.ModifyPasswordActivity"/>
        <activity android:name=".page.visitor.list.VisitorListActivity"/>
        <activity android:name=".page.visitor.add.VisitorAddActivity"/>
        <activity android:name=".page.visitor.edit.VisitorEditActivity"/>
        <activity android:name=".page.visitor.prefect.VisitorPrefectActivity"/>
        <activity android:name=".page.ticket.list.TicketListActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".page.article.list.ArticleListActivity"/>
        <activity
            android:name=".page.ticket.detail.TicketDetailActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".page.article.detail.ArticleDetailActivity"/>
        <activity android:name=".page.search.result.SearchResultActivity"/>
        <activity android:name=".activity.SearchDetailActivity"/>
        <activity
            android:name=".page.search.question.list.QuestionListActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".page.answer.detail.QuestionDetailActivity"/>
        <activity android:name=".page.ticket.success.TicketSuccessActivity"/>
        <activity android:name=".page.order.orderdetail.OrderDetailActivity"/>
        <activity android:name=".page.feedback.FeedbackActivity"/>
        <activity android:name=".page.business.BusinessActivity"/>
        <activity android:name=".page.business.BusinessDetailActivity"/>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".page.message.MsgActivity"/>
        <activity android:name=".activity.MsgDetailActivity"/>
        <activity android:name=".page.answer.success.AnswerSuccessActivity"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Fullscreen.Translucent"/>
        <activity android:name=".page.introduce.SceneryIntroduceActivity"/>
        <activity android:name=".page.ticket.confirm.TicketConfirmActivity"/>

        <service android:name=".service.initialize.InitializeService"/>

        <!--7.0apk安装-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.kingja.yaluji.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/apk_path"/>
        </provider>
        <!--JPush-->
        <receiver
            android:name=".receiver.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION"/>
                <action android:name="cn.jpush.android.intent.CONNECTION"/>

                <category android:name="com.kingja.yaluji"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>