<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kingja.yaluji">

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--登录-->
        <activity
            android:name=".page.login.LoginActivity"/>
        <!--注册-->
        <activity
            android:name=".page.register.RegisterActivity"/>
        <!--找回密码-->
        <activity android:name=".page.forgetpassword.ForgetPasswordActivity"/>
        <activity android:name=".page.headimg.PersonalActivity"/>
        <activity android:name=".page.modifynickname.ModifyNicknameActivity"/>
        <activity android:name=".activity.ContactUsActivity"/>
        <activity android:name=".page.modifypassword.ModifyPasswordActivity"/>
        <activity android:name=".page.visitor.list.VisitorListActivity"/>
        <activity android:name=".page.visitor.add.VisitorAddActivity"/>
        <activity android:name=".page.visitor.edit.VisitorEditActivity"/>
        <activity android:name=".page.visitor.prefect.VisitorPrefectActivity"/>
        <activity android:name=".page.ticket.list.TicketListActivity"/>
        <activity android:name=".page.article.list.ArticleListActivity"/>
        <activity android:name=".page.ticket.detail.TicketDetailActivity"/>
        <activity android:name=".page.article.detail.ArticleDetailActivity"/>
        <activity android:name=".page.search.result.SearchResultActivity"/>
    </application>

</manifest>